<div class="header">
  <div class="header-left">
    <app-back-button
      [route]="backTargetUrl()"
      [queryParams]="backQueryParams()"
    ></app-back-button>

    <h1 class="page-title">{{ title() | translate }}</h1>
  </div>
  <div class="header-right">
    @if (showActions()) {
      <div class="header-actions">
        <app-toolbar
          [showAdd]="showAdd()"
          [showEdit]="showEdit()"
          [showHelp]="showHelp()"
          [showDelete]="showDelete()"
          [showCopy]="showCopy()"
          [showImport]="showImport()"
          [showExport]="showExport()"
          [showReset]="showReset()"
          [disabledImport]="disabledImport()"
          [disabledExport]="disabledExport()"
          [disabledReset]="disabledReset()"
          [disabledCopy]="disabledCopy()"
          [disabledDelete]="disabledDelete()"
          [isSaving]="isSaving()"
          [helpSteps]="helpSteps()"
          [helpTitle]="helpTitle()"
          [helpRecordName]="helpRecordName()"
          (add)="onAdd()"
          (edit)="onEdit()"
          (help)="onHelp()"
          (delete)="onDelete()"
          (copy)="onCopy()"
          (import)="onImport()"
          (export)="onExport()"
          (reset)="onReset()"
        >
        </app-toolbar>
      </div>
    }
  </div>
</div>
