@if (heat()) {
  <div class="info-section" #infoPanel>
    <span
      class="label-text"
      #labelText
      [style.font-family]="
        widget()?.customSettings?.['labelFontFamily'] || null
      "
      [style.font-size.px]="
        widget()?.scaleMode !== 'auto'
          ? widget()?.customSettings?.['labelFontSize'] || null
          : null
      "
      [style.color]="widget()?.customSettings?.['labelTextColor'] || null"
      >{{ "RD_HEAT" | translate }}:</span
    >
    <span
      class="value-text"
      #valueText
      [style.font-family]="
        widget()?.customSettings?.['valueFontFamily'] || null
      "
      [style.font-size.px]="
        widget()?.scaleMode !== 'auto'
          ? widget()?.customSettings?.['valueFontSize'] || null
          : null
      "
      [style.color]="widget()?.customSettings?.['valueTextColor'] || null"
      >{{
        "RD_HEAT_OF_TOTAL"
          | translate: { current: heat()!.heatNumber, total: totalHeats() }
      }}<!--
   -->
      @if (race() && race()!.group_options && race()!.group_options.enabled) {
        @if (customGroupName()) {
          - {{ customGroupName() }}
        } @else {
          - {{ "RE_GROUPS_LABEL" | translate }}: {{ heat()!.group + 1 }}
        }
      }
    </span>
  </div>
}
