<div
  class="header"
  [class.has-zoom]="showZoom()"
  [style.margin-top.px]="marginTop()"
  [style.margin-bottom.px]="marginBottom()"
>
  <div class="header-left">
    <app-browser-navigation></app-browser-navigation>
    <h1 class="page-title">
      <span class="title-main">{{ titleKey() | translate }}</span>
      @if (trimmedItemName()) {
        <span class="item-separator">-</span>
        <span class="item-name" [title]="trimmedItemName()">{{
          trimmedItemName()
        }}</span>
      }
    </h1>
  </div>
  <div class="header-right">
    <app-toolbar
      [showUndo]="showUndo()"
      [showRedo]="showRedo()"
      [showHelp]="showHelp()"
      [showAdd]="showAdd()"
      [showDelete]="showDelete()"
      [showCopy]="showCopy()"
      [disabledCopy]="disabledCopy()"
      [copyDisabledTooltipKey]="copyDisabledTooltipKey()"
      [showRegenerate]="showRegenerate()"
      [disabledRegenerate]="disabledRegenerate()"
      [showLaneCheck]="showLaneCheck()"
      [disabledLaneCheck]="disabledLaneCheck()"
      [isHeatsEqual]="isHeatsEqual()"
      [showImport]="showImport()"
      [showImportRc1]="showImportRc1()"
      [showExport]="showExport()"
      [importTitleKey]="importTitleKey()"
      [importRc1TitleKey]="importRc1TitleKey()"
      [importRc1Icon]="importRc1Icon()"
      [exportTitleKey]="exportTitleKey()"
      [disabledImport]="disabledImport()"
      [disabledImportRc1]="disabledImportRc1()"
      [disabledExport]="disabledExport()"
      [isSaving]="isSaving()"
      [showZoom]="showZoom()"
      [zoomLevel]="zoomLevel()"
      (zoomLevelChange)="onZoomLevelChange($event)"
      [undoManager]="undoManager()"
      [helpSteps]="helpSteps()"
      [helpTitle]="helpTitle()"
      [helpRecordName]="helpRecordName()"
      (help)="onHelp()"
      (copy)="onCopy()"
      (add)="onAdd()"
      (delete)="onDelete()"
      (regenerate)="onRegenerate()"
      (laneCheck)="onLaneCheck()"
      (import)="onImport()"
      (importRc1)="onImportRc1()"
      (export)="onExport()"
    >
      <div toolbar-left>
        <ng-content select="[toolbar-left]"></ng-content>
      </div>
    </app-toolbar>
  </div>
</div>
