<div class="leader-board-container">
  <div class="header" *ngIf="currentHeat$ | async as heat">
    Heat {{ heat.heatNumber }} of {{ (raceService.heats$ | async)?.length }}
  </div>

  <div class="content">
    <div class="leader-section" *ngIf="leader$ | async as leader">
      <div class="leader-name">
        <span class="leader-rank">({{ leader.seed }})</span> {{ leader.driver.name }}
      </div>
      <div class="leader-stats">
        <span class="time">{{ leader.rankValue | number:'1.0-0' }}</span>
      </div>
    </div>

    <div class="others-list">
      <div class="other-row" *ngFor="let p of others$ | async">
        <div class="rank">({{ p.seed }})</div>
        <div class="name">{{ p.driver.name }}</div>
        <div class="stats">
          <span class="laps">{{ p.rankValue | number:'1.0-0' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>