<div class="panel-card record-panel">
  <div class="record-header">
    {{ "RD_RECORD_RACE_LAP" | translate }}
  </div>
  <div
    class="record-row"
    style="background: #222; margin-top: 2px; padding: 0 10px"
  >
    <span class="record-val">{{ raceRecordLapNickname() || "---" }}</span>
    <span class="record-val">{{
      raceRecordLapTime() > 0 && raceRecordLapTime() < 1000000
        ? (raceRecordLapTime() | number: "1.3-3")
        : "--.---"
    }}</span>
  </div>
  <div class="record-header" style="margin-top: 5px; background: transparent">
    {{ "RD_RECORD_RACE_SCORE" | translate }}
  </div>
  <div class="record-row" style="padding: 0 10px">
    <span class="record-val">{{ raceRecordScoreNickname() || "---" }}</span>
    <span class="record-val">{{
      raceRecordScore() > 0 ? (raceRecordScore() | number: "1.3-3") : "--"
    }}</span>
  </div>
  <div class="record-header" style="margin-top: 5px; background: #222">
    {{ "RD_RECORD_CURRENT_RACE_BEST" | translate }}
  </div>
  <div class="record-row" style="background: #222; padding: 0 10px">
    <span class="record-val">{{ currentRaceBestNickname() || "---" }}</span>
    <span class="record-val">{{
      currentRaceBestTime() > 0 && currentRaceBestTime() < 1000000
        ? (currentRaceBestTime() | number: "1.3-3")
        : "--.---"
    }}</span>
  </div>
  <div class="record-header" style="margin-top: 5px; background: transparent">
    {{ "RD_RECORD_HEAT_BEST" | translate }}
  </div>
  <div class="record-row" style="padding: 0 10px">
    <span class="record-val">{{ heatBestNickname() || "---" }}</span>
    <span class="record-val">{{
      heatBestTime() > 0 && heatBestTime() < 1000000
        ? (heatBestTime() | number: "1.3-3")
        : "--.---"
    }}</span>
  </div>
</div>
