/* Records styles encapsulated or inherited globally */
.record-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  font-size: 19px;
  color: #eee;
}

.record-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  box-sizing: border-box;
}

.record-group.stripe,
.record-header.stripe,
.record-row.stripe {
  background: #222;
}

.record-header {
  padding-left: 12px;
  font-size: 17px;
}

.record-header.no-stripe {
  background: transparent;
}

.record-header:not(:first-child) {
  margin-top: 5px;
}

.record-row {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
  padding: 0 10px;
  margin-bottom: 5px;
}

.record-row.first-row {
  margin-top: 2px;
}

.record-val {
  color: #ff0;
}

.record-val.record-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.record-val.record-value {
  white-space: nowrap;
  text-align: right;
}