@switch (widget().widgetType) {
  @case ("leaderboard") {
    <app-leaderboard-inspector
      [settings]="widget().customSettings"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-leaderboard-inspector>
  }
  @case ("group-leaderboard") {
    <app-leaderboard-inspector
      [settings]="widget().customSettings"
      [isGroup]="true"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-leaderboard-inspector>
  }
  @case ("records") {
    <app-records-inspector
      [settings]="widget().customSettings"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-records-inspector>
  }
  @case ("timer") {
    <app-timer-inspector
      [settings]="widget().customSettings"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-timer-inspector>
  }
  @case ("image") {
    <app-image-inspector
      [settings]="widget().customSettings"
      (change)="onSettingsChange()"
    ></app-image-inspector>
  }
  @case ("lane-view") {
    <app-lane-view-inspector
      [settings]="widget().customSettings"
      [widget]="widget()"
      [globalSettings]="globalSettings()"
      [availableColumns]="availableColumns()"
      [isPracticeMode]="isPracticeMode()"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-lane-view-inspector>
  }
  @case ("on-deck") {
    <app-upcoming-inspector
      [settings]="widget().customSettings"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-upcoming-inspector>
  }
  @case ("next-heat") {
    <app-upcoming-inspector
      [settings]="widget().customSettings"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-upcoming-inspector>
  }
  @case ("heat-info") {
    <app-text-info-inspector
      [settings]="widget().customSettings"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      labelTitleKey="UE_INSPECTOR_RECORDS_HEADER"
      valueTitleKey="UE_INSPECTOR_RECORDS_VALUE"
      (change)="onSettingsChange()"
    ></app-text-info-inspector>
  }
  @case ("race-name") {
    <app-text-info-inspector
      [settings]="widget().customSettings"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      labelTitleKey="UE_INSPECTOR_RECORDS_HEADER"
      valueTitleKey="UE_INSPECTOR_RECORDS_VALUE"
      (change)="onSettingsChange()"
    ></app-text-info-inspector>
  }
  @case ("track-name") {
    <app-text-info-inspector
      [settings]="widget().customSettings"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      labelTitleKey="UE_INSPECTOR_RECORDS_HEADER"
      valueTitleKey="UE_INSPECTOR_RECORDS_VALUE"
      (change)="onSettingsChange()"
    ></app-text-info-inspector>
  }
  @case ("menu-bar") {
    <app-menu-inspector
      [widget]="widget()"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-menu-inspector>
  }
  @case ("action-start-resume") {
    <app-action-button-inspector
      [widget]="widget()"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-action-button-inspector>
  }
  @case ("action-pause") {
    <app-action-button-inspector
      [widget]="widget()"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-action-button-inspector>
  }
  @case ("action-next-heat") {
    <app-action-button-inspector
      [widget]="widget()"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-action-button-inspector>
  }
  @case ("action-restart-heat") {
    <app-action-button-inspector
      [widget]="widget()"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-action-button-inspector>
  }
  @case ("action-defer-heat") {
    <app-action-button-inspector
      [widget]="widget()"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-action-button-inspector>
  }
  @case ("action-skip-heat") {
    <app-action-button-inspector
      [widget]="widget()"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-action-button-inspector>
  }
  @case ("action-skip-race") {
    <app-action-button-inspector
      [widget]="widget()"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-action-button-inspector>
  }
  @case ("action-add-lap") {
    <app-action-button-inspector
      [widget]="widget()"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-action-button-inspector>
  }
  @case ("action-modify-heats") {
    <app-action-button-inspector
      [widget]="widget()"
      [disableFontSizes]="widget().scaleMode === 'auto'"
      (change)="onSettingsChange()"
    ></app-action-button-inspector>
  }
}
